<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--   <listeners>
        <listener class-name="com.hrm.util.ExtentReporterNG"/>
  	    <listener class-name="com.hrm.util.TestListener"/>
        <listener class-name="com.hrm.util.RetryListener"/>
 </listeners>  -->
 
  <test name="Test">
    <classes>
      <class name="com.hrm.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
